# Importing data

In [2]:
import pandas as pd

plants_df = pd.read_csv("../plantbase/data/all_plants_train.csv").drop(columns="Unnamed: 0")

In [3]:
plants_df.head()

,id,family,genus,species,content
0,1,Amaryllidaceae,Narcissus,Narcissus dubius Gouan,Entire
1,10,Orchidaceae,Epipactis,Epipactis atrorubens (Hoffm.) Besser,Entire
2,1000,Fabaceae,Cercis,Cercis siliquastrum L.,Branch
3,10000,Lamiaceae,Clinopodium,Clinopodium nepeta (L.) Kuntze,Flower
4,100001,Rosaceae,Cydonia,Cydonia oblonga Mill.,Leaf

In [35]:
#filtering cvs by genus, content and count 
contents=plants_df.groupby(["genus", "content"]).size().reset_index(name="count")
contents=contents[contents['content']=='Flower'].sort_values('count',ascending=False)

#looking at the images with only 100 values 
contents[contents['count']>100].sort_values('count',ascending=False).head(20)

             genus content  count
2083        Ophrys  Flower    660
1325      Geranium  Flower    436
1185     Euphorbia  Flower    397
2679        Silene  Flower    395
2403        Prunus  Flower    382
554      Campanula  Flower    381
659      Centaurea  Flower    363
1310      Gentiana  Flower    296
2980     Verbascum  Flower    295
2095        Orchis  Flower    291
1878         Malva  Flower    289
199        Anemone  Flower    278
3027         Viola  Flower    254
1648        Lamium  Flower    237
19            Acer  Flower    232
118         Allium  Flower    232
751        Cirsium  Flower    231
940   Dactylorhiza  Flower    230
2007     Narcissus  Flower    223
2891     Trifolium  Flower    214

In [36]:
#selected the genus we will focus on
selected_genus=['Campanula','Crataegus', 'Geranium', 'Narcissus','Ophrys', 'Rosa', 'Verbascum', 'Iris','Allium','Ajuga','Veronica','Gentiana','Viola','Malva', 'Cirsium', 'Trifolium']

In [38]:
#number of genuses selected
len(selected_genus)

16

# Filtering the cvs by content type (=Flowers) and for selected genuses

In [43]:
filtered_df=plants_df[plants_df.genus.isin(selected_genus)]
filtered_df=filtered_df[filtered_df['content']=='Flower']

In [45]:
#checking the number of images per plant
filtered_df.genus.value_counts()

Ophrys       660
Geranium     436
Campanula    381
Gentiana     296
Verbascum    295
Malva        289
Viola        254
Allium       232
Cirsium      231
Narcissus    223
Trifolium    214
Veronica     200
Crataegus    183
Iris         154
Rosa         150
Ajuga        119
Name: genus, dtype: int64

# Outputting to csv

In [46]:
#resetting the index and dropping the old index
filtered_df = filtered_df.reset_index().drop(columns = 'index')

In [47]:
filtered_df.to_csv("../plantbase/data/priority_plants_VF.csv")